/*COLORS*/
$z-bg: #172432;
$z-primary: #1D2E3B;
$z-menu: #131F2D;
$z-menu-hover: #243639;
$z-menu-selected: #45B103;
$z-btn-success: #41A10A;
$z-title: #fff;
$z-form-error: indianred;
$z-success: #41A10A;
$z-error: indianred;